<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Book</title>
  </head>

  <body>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li style="color: green">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    <a href="{{ url_for('home') }}">Home</a>
  <form action="/add_book" method="POST">
    <label for="title">Book Title:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="author_id">Book Author:</label>
    <select id="author_id" name="author_id" required>
      {% for author in authors %}
        <option value="{{ author.author_id }}">{{ author.name }}</option>
      {% endfor %}
    </select><br><br>

    <label for="publication_year">Publication Year:</label>
    <input type="text" id="publication_year" name="publication_year" required><br><br>

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required><br><br>

    <input type="submit" value="Add Book">
  </form>
  </div>
  </body>
</html>
